div a {
    color: black;
width: 250px;
    display:flex;
    text-decoration: none;
    justify-content: center;
    display:inline-block;
    justify-content: space-between;
    border:  solid 2px transparent;
}
div a:hover{
 border-bottom: 2px solid  black;
}

