*{
    padding: 0;
    margin: 0;
}

body{
background-color: #222;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.all{
    width:80% ;
    margin: auto;
}
.head{
    text-align: center;
text-transform: uppercase;
margin: 10px 0; 
}

    input{
        width: 100%;
        height: 20px;
        outline: none;
border: none;
background-color: #111 ;
margin: 4px 0;
border-radius: 4px;
padding: 4px;
color: white;
}
input:focus{
background-color: black;
transform: scale(1.1);
}

.price input{
    width: 20%; 
}
#total{
    background: #f20101a9;
    padding: 5px 2px;
    border-radius: 4px;

}
#total::before{
        content: "Total: ";
}

button{
    width: 100%;
    height: 30px;
    background-color: rgb(3, 3, 125) ;
    border-radius: 20px;
    border: none;  
       cursor: pointer;
color: white;
transition: 0.4s;
}
button:hover{
 background-color: blue ;
 letter-spacing: 1px;
}
 
.btnsear{
    display: flex;
    justify-content: space-between;
}

.btnsear button{
    width: 44%;
}
table{

    width: 100%;
    text-align: center;
    margin: 10px 0;
}
th,td{
    padding: 5px;
}
#deletAll{
       margin: 20px 0;
}